/* font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap");

/* common css */
:root {
  --common-font-color: #3a3a3a;
  --background-color: #e02c6d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  margin: 0 auto;
  background-color: #aaaaaa;
}

/* Heading */

.head-container {
  width: 1300px;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 80px;
  padding: 0 50px;
}

/* Nav */

nav {
  width: 100%;

  display: flex;
  justify-content: space-between;
}
.nav-brand {
  padding: 30px 0;
  font-size: 24px;
  font-weight: bold;
  color: var(--common-font-color);
}
.nav-item {
  display: flex;
  align-items: center;
}
.nav-item ul {
  display: flex;
}
.nav-item ul li {
  list-style: none;
  padding: 30px 15px;
  color: var(--common-font-color);
}
.nav-item ul li a {
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  color: var(--common-font-color);
}
.nav-item ul li a i {
  font-size: 24px;
  color: black;
}

.cart {
  font-size: 30px;
  padding: 30px 15px;
}

/* banner */
.banner {
  width: 100%;

  display: grid;
  grid-template-columns: 582px 1fr;

  align-items: center;
  justify-items: end;
}
.banner-left {
  display: flex;
  align-items: center;
}

.banner-left article h1 {
  color: var(--common-font-color);
  font-size: 52px;
}
.banner-left article p {
  padding: 20px 0;
  font-size: 16px;
  font-weight: 600;
  line-height: 30px;
  margin-bottom: 20px;
  color: var(--common-font-color);
}
.banner-left article a {
  padding: 10px 20px;
  background-color: var(--background-color);
  border-radius: 30px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}
.banner-left article a i {
  padding-left: 10px;
}

.banner-right {
  position: relative;
}
.banner-right img {
  height: 475px;
  width: 475px;
}
.banner-right img.img2 {
  position: absolute;
  left: 0;
  top: 30px;
  height: 414px;
  width: 440px;
}

/* Brand */

.brand-container {
  width: 1110px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

  border-top: 1px solid #c0ccda;
  border-bottom: 1px solid #c0ccda;
  margin-bottom: 20px;
}
.brand-container img {
  margin: 30px 20px;
}

/* body */

.body-container {
  width: 1110px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.body-container .product-container header h1 {
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  color: var(--common-font-color);
  padding-bottom: 50px;
}
.body-container .product-container {
  width: 1047px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.product-container .products {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  padding-bottom: 40px;
}
.product {
  display: flex;

  justify-content: center;
  align-items: center;
  width: 330px;
  height: 476px;
  border-radius: 10px;
  background-color: white;
}

.product article img {
  height: 256px;
  width: 300px;
}
.product article h1 {
  padding-top: 10px;
  font-size: 28px;
  font-weight: 500;
  color: #18191f;
}
.price {
  font-size: 24px;
  font-weight: 400;
  padding-bottom: 10px;
}
.star i {
  color: #fb8200;
}
.rating span {
  padding-left: 10px;
  font-size: 14px;
  font-weight: bold;
}
article p {
  font-size: 14px;
  font-weight: bold;
  line-height: 25px;
}
.product-container footer {
  margin-left: auto;
  margin-bottom: 100px;
}
.product-container footer a {
  text-decoration: none;
  color: var(--background-color);
  font-size: 16px;
  font-weight: bold;
}

.feature-product {
  height: 270px;
  display: grid;
  align-content: center;
  grid-template-columns: 404px 1fr;
  width: 100%;
  margin-bottom: 120px;
}
.feature-product .feature-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;

  margin-left: 96px;
}
.feature-product .feature-right article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.feature-product .feature-right h1 {
  font-size: 38px;
  font-weight: bold;
  color: #0a0826;
}
.feature-product .feature-right p {
  padding: 20px 0;
  font-size: 16px;
  font-weight: 600;
  line-height: 30px;

  color: var(--common-font-color);
}
.feature-product .feature-right a {
  padding: 10px 20px;
  background-color: var(--background-color);

  font-size: 16px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}
/* Footer */
.footer-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 50px 0;
  background-color: #0a0826;
  color: white;
}
.footer-container .footer-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-info h1 {
  font-size: 24px;
  line-height: 36px;
}
.footer-info p {
  font-size: 14px;
  line-height: 24px;
}
.footer-info span {
  margin-top: 14px;
  display: flex;
  justify-content: center;
  position: relative;
}

.footer-info span i {
  position: relative;
  height: 32px;
  width: 32px;

  margin: 0 10px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #1c1a36;
}
